@import '../../assets/styles/variable.css';

.summary-container {
    padding: 30px;
}

#summary {
  font-family: Poppins,sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

#summary td, #summary th {
  border: 1px solid #ddd;
  padding: 8px;
}

#summary tr:nth-child(even){background-color: #f2f2f2;}

#summary tr:hover {background-color: #ddd;}

#summary th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--indodaxBlue);
  color: white;
}

.profit {
     font-family: Poppins,sans-serif;
    color: var(--white);
    background-color: var(--bluishGreen);
    font-weight: bold;
}

.back-btn {
    font-family: Poppins,sans-serif;
    font-size: 20px;
    background-color: var(--red);
    border-radius: 5px;
    padding: 15px 35px 15px 35px;
    border: 1px solid var(--white) !important;
    color: var(--white);
    cursor:pointer;
    margin-top: 40px;
}